.contactUsContainer {
  position: relative;
}

.bodyContainer {
  position: absolute;
  top: 70vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

@media (max-width: 768px) {
  .bodyContainer {
    position: unset;
    transform: none;
  }
}
