@media screen and (max-width: 768px) {
    .loginContainer {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    .form {
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      background-color: #f5fdff;
      flex: 1;
    }
  }
  