.travel_Destination_selector_container {
  margin-top: 5.729vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travel_Destination_selector_container h1 {
  font-size: 2.5vw;
  color: var(--color-primary);
  margin: 0 auto;
  font-weight: 600;
  margin-bottom: 2.188vw;
  text-align: center;
}
.countrySelectorContainer {
  width: 100%;
  max-width: 36.146vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.countrySelector {
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  right: -3.5vw;
}

.countrySelectorContainer input {
  max-width: 36.146vw;
  width: 100%;
  font-size: 1.1vw;
  border: 1px solid #7b7b7b;
  height: 3.854vw;
  border-radius: 0.521vw;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.16);
  color: #7b7b7b;
  padding: 1vw 1.5vw;
}
.travel_Destination_selector_container input:hover,
.travel_Destination_selector_container input:focus {
  outline: none;
}

.travel_Destination_selector_container.start-animation
  .cards_section_container {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s ease-in-out, transform 3s ease-in-out;
  z-index: -2;
}

.travel_Destination_selector_container.start-animation input {
  transform: scale(0.86);
  transition: transform 3s ease-in-out;
}
.filter_container {
  display: flex;
  gap: 0.365vw;
  padding: 0.208vw;
  background-color: white;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.16);
  border-radius: 1.042vw;
  margin-top: 2.188vw;
}
.filter_container button {
  font-family: "Poppins";
  border-radius: 1.042vw;
  padding: 1.12vw 3.125vw;
  font-size: 1.042vw;
  font-weight: 500;
}
.active {
  background-color: var(--color-primary);
  color: white;
  transition: all 0.3s ease-in-out;
}
.cards_section_container {
  width: 100%;
  transform: translateY(100%);
  opacity: 0;
  overflow: hidden;
}
.cards_section_container > button {
  margin: 0 auto;
}
.cards_container {
  display: flex;
  gap: 2.5vw;
  flex-wrap: wrap;
  width: 100%;
  width: calc(100% + 2.5vw);
  margin-top: 2.188vw;
  padding: 0 9.115vw;
}
.cards_container a {
  flex: 1 1 calc(25% - 2.5vw);
  max-width: calc(25% - 2.5vw);
}
.cards_container h3 {
  font-size: 1.25vw;
  text-align: center;
  margin-bottom: 1.25vw;
  font-weight: 500;
}
.card {
  padding: 1.667vw;
  background-color: white;
  box-shadow: 0.104vw 0.104vw 1.042vw 0px rgba(0, 0, 0, 0.15);
  border-radius: 1.563vw;
  width: 18.594vw;
  width: 100%;
  transition: 0.8s all ease-in-out;
}
.card_image {
  overflow: hidden;
  border-radius: 1.042vw;
}
.card img {
  display: block;
  border-radius: inherit;
  transition: transform 0.8s ease-in-out;
  width: 100%;
}

.card_date {
  display: flex;
  justify-content: space-between;
  margin: 1.25vw 0vw;
  font-size: 0.833vw;
}
.card_date p {
  color: #7b7b7b;
}
.card_date p:last-child {
  color: var(--color-primary);
}

.card_price {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins";
  transition: all 0.8s ease-in-out;
}
.card_price button {
  padding: 0.417vw 0.768vw;
  border-radius: 2.083vw;
  font-size: 0.729vw;
  font-weight: 500;
  transition: 0.8s all ease-in-out;
}

.card_price h4 {
  font-size: 1.25vw;
  font-weight: 400;
}
.cards_container a:first-child .card .card_price h4 span {
  color: #7b7b7b;
  font-size: 0.9vw;
  transition: 0.8s all ease-in-out;
}
.cards_container a:first-child .card .card_price h4 span:hover {
  transition: 0.8s all ease-in-out;
}
.cards_section_container > button {
  display: flex;
  padding: 1.12vw 3.906vw;
  border-radius: 2.604vw;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background-color: white;
  font-family: "Poppins";
  font-weight: 400;
  margin: 0 auto;
}

.cards_section_container > button:hover {
  background-color: var(--color-primary);
  color: white;
}

.card:hover {
  background-color: var(--color-primary);
  cursor: pointer;
  color: white;
}
.card:hover img {
  transform: scale(1.2);
}

.card:hover .card_date p,
.card:hover .card_price h4,
.card:hover .card_price h4 span {
  color: white !important;
}

.card:hover button {
  background-color: white;
  color: var(--color-primary);
  font-weight: 500;
}

/* Media query for mobile screen sizes */
@media (max-width: 768px) {
  .travel_Destination_selector_container {
    padding: 0;
  }
  .travel_Destination_selector_container h1 {
    font-size: 1.3rem;

    margin-bottom: 1.5rem;
    max-width: 17rem;
  }
  .countrySelectorContainer {
    max-width: 20rem;
  }
  .countrySelector {
    right: 0rem;
    /* margin-right: -1.5rem; */
  }

  .travel_Destination_selector_container input {
    max-width: 14rem;
    font-size: 0.8rem;
    border-radius: 0.521rem;
    padding: 1rem 1rem;
  }
  .visa_category {
    display: flex;
  }
  .filter_container {
    gap: 0.2rem;
    padding: 0.1rem;
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
  }
  .filter_container button {
    padding: 1.12vw 3.125vw;
    font-size: 0.65rem;
    font-weight: 500;
  }

  .cards_container a {
    flex: 1 1 calc(33.33% - 2.5vw);
    max-width: calc(33.33% - 2.5vw);
  }
  .card {
    width: 100%;
    border-radius: 0.8rem;
    padding: 0.5rem;
    padding-bottom: 0.8rem;
  }
  .card h3 {
    font-size: 0.8rem;
  }
  .card_date p:first-child {
    font-size: 0.5rem;
  }
  .card_date p:last-child {
    font-size: 0.5rem;
  }
  .card_price {
    align-items: center;
  }
  .card_price h4 {
    font-size: 0.5rem;
  }
  .cards_container a:first-child .card .card_price h4 span {
    font-size: inherit;
  }
  .card_price button {
    font-size: 0.5rem;
    padding: 0.1rem 0.5rem;
  }
  .cards_section_container > button {
    margin-top: 1rem;
    font-size: 0.7rem;
    border-radius: 100rem;
  }
}

@media (max-width: 599px) {
  .cards_container {
    gap: 0.7rem;
    width: calc(100% + 0.7rem);
  }
  .cards_container a {
    flex: 1 1 calc(50% - 0.7rem);
    max-width: calc(50% - 0.7rem);
  }
}
