.Blogs_section_container {
  display: flex;
  flex-direction: column;
  padding: 0vw 9.323vw;
  margin-top: 5.271vw;
  position: relative;
}

.Blogs_section_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.BlogsHeading {
  width: 80%;
}
.Blogs_section_heading button:hover {
  background-color: var(--color-primary);
  color: white;
  transition: 0.3s all ease-in-out;
}
.Blogs_section_heading h1 {
  font-family: "Urbanist";
  font-size: 2.5vw;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 1.042vw;
}

.Blogs_section_heading p {
  font-family: "Urbanist";
  color: rgba(64, 64, 64, 1);
  font-size: 1.25vw;
  font-weight: 500;
}

.btn_primary {
  font-family: "Montserrat";
  color: #42a7c3;
  padding: 1.12vw 4.271vw;
  border: 1px solid #42a7c3;
  border-radius: 2.604vw;
  cursor: pointer;
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 1.524vw;
}

.blogs_filter {
  align-self: flex-end;
  margin-top: 2.083vw;
  margin-bottom: 2.604vw;
}
.blogs_filter label {
  font-size: 1.042vw;
}
.filterSelector {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2.604vw;
  font-size: 1.042vw;
  gap: 1.042vw;
}
.blogs_filter select {
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 0.833vw;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  padding: 0.521vw 1.25vw;
  border-radius: 100px;
}
.Blogs_card_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3.75vw;
  transition: transform 0.5s ease;
}

.Blogs_card {
  flex: 0 0 calc(50% - 1.875vw);
  background-color: white;
  width: 100%;
  max-width: 38.75vw;
}

.card_head img {
  width: 100%;
  max-height: 25.573vw;
  height: 100%;
  border-radius: 1.667vw;
  margin-bottom: 1.458vw;
}
.card_head p {
  font-size: 1.25vw;
  font-weight: 500;
}
.card_tag {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.146vw;
}

.card_tag span {
  font-size: 1.25vw;
  color: #5b5b5b;
}

.card_tag span:first-child {
  font-family: "Urbanist";
  background-color: rgba(66, 167, 195, 0.2);
  padding: 0vw 1.458vw;
  border-radius: 1.042vw;
  color: rgba(66, 167, 195, 1);
  font-size: 1.042vw;
  font-weight: 500;
  height: 1.406vw;
}

.card_tag span:last-child {
  color: #999;
}
.Blogs_card p {
  font-family: "Urbanist";
  font-size: 1.25vw;
  font-weight: 500;
  line-height: 1.458vw;
}
.Blogs_card h3 {
  font-family: "Urbanist";
  font-size: 1.875vw;
  font-weight: 700;
  color: black;
  margin-bottom: 1.042vw;
  line-height: 2.813vw;
}

.Blogs_card.homePage p,
.Blogs_card.homePage h3 {
  font-family: "Poppins";
}
.Blogs_card.homePage h3 {
  font-weight: 500;
}
.Blogs_card.homePage p {
  font-weight: 400;
  line-height: 1.875vw;
}
.Blogs_card button {
  font-family: "Urbanist";
  font-weight: 500;
  color: #42a7c3;
  border: none;
  cursor: pointer;
  font-size: 1.25vw;
  align-self: flex-start;
  margin-top: 1.979vw;
}
.Blogs_card button i {
  font-size: 1.3vw;
  transform: rotate(45deg);
  margin-left: 1.137vw;
}
.marginBottom {
  margin-bottom: 4.668vw;
}

.sliderButtons {
  display: flex;
  gap: 1.667vw;
  position: absolute;
  top: 1vw;
  right: 9.323vw;
}

.sliderContainer {
  margin-top: 4.688vw;
}
@media (max-width: 768px) {
  .Blogs_section_heading {
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  .Blogs_section_heading .blogsButton button {
    width: max-content;
  }
  .Blogs_section_heading h1 {
    font-size: 1rem;
  }
  .Blogs_section_heading p {
    font-size: 0.6rem;
  }

  .Blogs_section_heading button {
    font-size: 0.7rem;
    border-radius: 100rem;
  }
  .filterSelector {
    font-size: 0.5rem;
    gap: 0.5rem;
  }
  .Blogs_card_container {
    flex-direction: column;
  }
  .Blogs_card {
    margin-bottom: 1rem;
    max-width: none;
  }
  .card_head img {
    border-radius: 0.8rem;
  }
  .card_tag {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .card_tag span:first-child {
    font-size: 0.6rem;
    height: max-content;
    padding: 0.1rem 1rem;
    border-radius: 100rem;
  }

  .card_tag span {
    font-size: 0.7rem;
  }

  .Blogs_card h3,
  .Blogs_card.homePage h3 {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .Blogs_card p {
    font-size: 0.7rem;
    line-height: 0.9rem;
  }
  .Blogs_card.homePage p {
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .Blogs_card.homePage p {
    line-height: 1rem;
  }
  .Blogs_card button {
    font-size: 0.7rem;
  }
  .Blogs_card button i {
    font-size: 0.7rem;
  }
  .btn_primary {
    padding: 0.5rem 1rem;
  }
  .sliderButtons {
    gap: 1.3rem;
  }
}
