.why_choose_us {
  display: flex;
  justify-content: space-between;
  padding: 4.583vw 8.49vw;
  margin-top: 6.719vw;
}
.left_container img {
  max-width: 32.604vw;
  width: 100%;
  margin-left: 4.531vw;
}
.right_container {
  max-width: 34.167vw;
  width: 100%;
}
.right_container h1 {
  font-family: "Lato";
  margin-bottom: 0.417vw;
  font-weight: 700;
  font-size: 1.875vw;
  color: var(--color-primary);
}

.right_container p {
  font-family: "Poppins";
  font-size: 1.042vw;
  font-weight: 400;
  line-height: 1.458vw;
  max-width: 29.063vw;
}

.card_container {
  display: flex;
  flex-direction: column;
  gap: 1.667vw;
  margin-top: 2.083vw;
}
.card {
  display: flex;
  gap: 0.833vw;
  padding: 1.276vw 0vw;
  padding-right: 2.7vw;
  padding-left: 1.29vw;
  cursor: pointer;
  border-radius: 0.521vw;
}
.card_image {
  width: 3.333vw;
  height: 3.333vw;
  border-radius: 0.833vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.729vw;
  background-color: white;
}
.card_container .card:first-child .card_image {
  box-shadow: 0 16px 24px 0 rgba(96, 97, 112, 0.12);
}
.card_text h3 {
  font-family: "Lato";
  font-size: 1.042vw;
  font-weight: 700;
}
.card_text p {
  font-size: 0.938vw;
  color: #636363;
  margin-top: 0.417vw;
  font-weight: 400;
}

.card:hover {
  background-color: var(--color-primary);
  color: white;
  transition: all 0.3s ease-in-out;
}
.card:hover .card_text h3,
.card:hover .card_text p {
  color: white;
}
