.faqsContainer {
  padding: 5.281vw 11.406vw 8.281vw 11.406vw;
}
.faqsContainer h1 {
  font-family: "Roboto";
  font-size: 3.333vw;
  margin-bottom: 5.26vw;
  color: rgba(66, 167, 195, 1);
  font-weight: 700;
}

@media (max-width: 768px) {
  .faqsContainer {
    padding: 2rem 1.5rem;
  }
  .faqsContainer h1 {
    font-size: 1rem;
  }
}
