.contactFormContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 81.042vw;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 9.323vw;
  border: 1px solid rgba(189, 189, 189, 1);
  box-shadow: 0px 0px 1.042vw 0px rgba(0, 0, 0, 0.1);
  padding: 4.583vw 5.729vw;
  border-radius: 0.521vw;
  background-color: white;
}

.contactInfo {
  flex: 1;
  max-width: 21.406vw;
}
.contactInfo span p {
  display: flex;
  align-items: center;
  gap: 0.521vw;
}
.contactInfo span p img {
  width: 1.25vw;
}
.contactInfo h2 {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1.875vw;
  margin-bottom: 1.042vw;
}

.contactInfo > p {
  font-size: 0.833vw;
  margin-bottom: 1.563vw;
}
.contactInfo span {
  display: flex;
  flex-direction: column;
  gap: 1.563vw;
}
.contactInfo span p {
  font-weight: 500;
  font-size: 0.938vw;
}
.contactForm {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1.042vw;
  background: white;
  max-width: 37.76vw;
}
.contactForm span {
  display: flex;
  gap: 1.094vw;
}
.contactForm span .inputGroup {
  width: 100%;
}

.inputGroup input,
.inputGroup textarea {
  font-family: "OpenSans";
  font-weight: 400;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.521vw;
  font-size: 0.833vw;
  background-color: rgba(249, 249, 249, 1);
  padding: 0.625vw 1.042vw;
}
.inputGroup input::placeholder,
.inputGroup textarea::placeholder {
  color: rgba(130, 130, 130, 1);
}
.inputGroup textarea {
  min-height: 7.292vw;
}
.inputGroup input:focus,
.inputGroup textarea:focus {
  border: 1px solid rgba(66, 167, 195, 1);
  outline: 1px solid rgba(66, 167, 195, 1);
  background-color: white;
  color: black;
}
.error {
  color: #ff6666;
  font-size: 0.75vw;
}

.submitButton {
  border: none;
  padding: 0.677vw;
  border-radius: 1.563vw;
  background-color: rgba(66, 167, 195, 0.92);
  color: white;
  font-size: 0.938vw;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submitButton:hover {
  background-color: rgba(66, 167, 195, 1);
}

.submissionMessage{
  font-size: 0.938vw;
  color: #009900;
  text-align: center;
}

@media (max-width: 768px) {
  .contactFormContainer {
    flex-direction: column;
    margin: 2rem 1.5rem;
    margin-bottom: 4rem;
    width: 100%;
    max-width: -webkit-fill-available;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
  }
  .contactInfo {
    max-width: none;
    width: 100%;
  }
  .contactForm {
    max-width: none;
    width: 100%;
    margin-top: 0.5rem;
    gap: 0.5rem;
  }

  .contactInfo h2 {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
  }

  .contactInfo p {
    font-size: 0.6rem;
  }
  .contactInfo span {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .contactInfo span p {
    font-size: 0.5rem;
  }

  .inputGroup input,
  .inputGroup textarea {
    padding: 0.3rem 0.5rem;
    font-size: 0.5rem;
  }

  .submitButton {
    border-radius: 3rem;
    padding: 0.5rem;
    font-size: 0.6rem;
  }
  .error {
    font-size: 0.4rem;
    margin-top: 0.2rem;
  }
  .inputGroup textarea {
    min-height: 4rem;
  }

  .contactInfo span p img {
    width: 0.6rem;
  }
  .contactInfo span p {
    gap: 0.5rem;
  }
}
