.dashboardContainer {
  display: flex;
  gap: 3.75vw;
  background-color: #f5f7fb;
  padding-top: 2.865vw;
  padding-bottom: 6.823vw;
  height: 100%;
}

.sidebar {
  max-width: 23.802vw;
  width: 100%;
  background: linear-gradient(
    180deg,
    #e2f6fc 18.16%,
    rgba(255, 255, 255, 0) 100%
  );
}
.userInfo {
  margin-top: 2.5vw;
  margin-left: 2.813vw;
}
.userInfo h3 {
  font-size: 1.563vw;
  color: #42a7c3;
  line-height: 1.953vw;
  font-weight: 500;
  margin-bottom: 2.188vw;
}
.userInfo p {
  display: flex;
  align-items: center;
  gap: 0.99vw;
  font-size: 1.042vw;
  margin-bottom: 1.667vw;
  line-height: 1.563vw;
  color: #292d32;
}
.userInfo p svg {
  font-size: 1.563vw;
}
.userInfo .phoneIcon svg {
  font-size: 1.15vw;
  transform: rotate(15deg);
}
.mainContent {
  background-color: white;
  padding: 2.5vw;
  padding-left: 2.604vw;
  max-width: 67.5vw;
  width: 100%;
}
.mainContent h2 {
  font-size: 1.25vw;
  line-height: 1.875vw;
  color: #42a7c3;
  font-weight: 400;
  margin-bottom: 0.885vw;
}
.pending {
  background-color: #ffb80133;
  color: #ffb801;
  padding: 0.104vw 1.719vw;

  border-radius: 3rem;
}

.approved {
  background-color: #00990033;
  padding: 0.17vw 1.719vw;
  color: #009900;
  border-radius: 3rem;
}

.rejected {
  background-color: #ebbdbd;
  padding: 0.17vw 1.719vw;
  color: #ad0404;
  border-radius: 3rem;
}
.table td {
  border: 0.052vw solid #e6eaee;
  font-size: 0.833vw;
  padding-top: 0.625vw;
  padding-bottom: 0.677vw;
}

.table th {
  font-size: 0.938vw;
  text-align: center;
  padding: 0.729vw 0vw;
  font-weight: 500;
}
.table th:first-child {
  text-align: left;
  padding-left: 0.521vw;
}
.table tr td:nth-child(1) {
  width: 4.688vw;
  text-align: left;
  padding-left: 1vw;
}
.table tr td:nth-child(2) {
  width: 12.969vw;
}

.table tr td:nth-child(3),
.table tr td:nth-child(4) {
  width: 11.25vw;
}
.table tr td:nth-child(5) {
  width: 9.844vw;
}
.table tr td:nth-child(2),
.table tr td:nth-child(3) {
  padding-left: 0.938vw;
}
.table tr td:nth-child(4) {
  text-align: center;
}
.table tr td:nth-child(5) {
  text-align: center;
  vertical-align: middle;
}
.table tr td:nth-child(5) button:first-child {
  font-size: 1.25vw;
  color: #42a7c3;
}
.table tr td:nth-child(5) button:last-child img {
  width: 1.25vw;
}

.actionContainer div {
  display: flex;
  gap: 2.604vw;
  justify-content: center;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* Darker transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;
}

.modal {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 800px;
  height: 80vh;
  max-width: 95%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #333;
  z-index: 3000;

}

.detailsTable,
.responsesTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.detailsTable th,
.responsesTable th {
  text-align: left;
  padding: 10px;
  background-color: #f4f4f4;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.detailsTable td,
.responsesTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
  color: #555;
}

.detailsTable tr,
.responsesTable tr {
  border-bottom: 1px solid #ddd;
}

.modal h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.modal h4 {
  margin-top: 30px;
  font-size: 1.3rem;
  text-align: center;
}

.responsesTable a.viewButton {
  background-color: #42a7c3;
  color: white;
  padding: 0.625vw 1.25vw;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 0.938vw;
}

@media screen and (max-width: 768px) {
  .dashboardContainer {
    flex-direction: column;
  }
  .sidebar {
    max-width: none;
  }
  .userInfo {
    padding: 2rem 1.5rem;
    margin: 0;
  }
  .userInfo h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .userInfo p {
    font-size: 0.7rem;
    line-height: 1rem;
    gap: 0.5rem;
  }
  .userInfo p svg {
    font-size: 0.7rem;
  }
  .userInfo .phoneIcon svg {
    font-size: 0.7rem;
  }
  .mainContent {
    max-width: none;
    padding: 2rem 1.5rem;
  }
  .mainContent h2 {
    font-size: 0.7rem;
    margin-bottom: 1.5rem;
  }

  .table td {
    font-size: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
  }

  .table th {
    font-size: 0.55rem;
    text-align: center;
    padding: 0.5rem 0vw;
  }
  .table th:first-child {
    padding-left: 0.3rem;
  }
  .table tr td:nth-child(1) {
    width: 1.5rem;
  }
  .table tr td:nth-child(2) {
    width: 4.5rem;
  }

  .table tr td:nth-child(3),
  .table tr td:nth-child(4) {
    width: 4rem;
  }
  .table tr td:nth-child(5) {
    width: 5rem;
  }
  .table tr td:nth-child(2),
  .table tr td:nth-child(3) {
    padding-left: 0.3rem;
  }
  .table tr td:nth-child(5) button:first-child {
    font-size: 0.8rem;
    color: #42a7c3;
  }
  .table tr td:nth-child(5) button:last-child img {
    width: 0.8rem;
  }
  .actionContainer div {
    gap: 0.8rem;
  }
}
