.countryDetailsContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 10.208vw;
  padding-right: 9.01vw;
}

.countryDescription {
  max-width: 50.313vw;
}
.countryDescription h1 {
  font-size: 2.5vw;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 1.198vw;
}
.countryDescription p {
  font-size: 1.042vw;
  line-height: 1.563vw;
}
.applyNowContainer {
  margin-top: 4vw;
  max-width: 24.427vw;
  width: 100%;
}
.blogsCardContainer {
  margin-top: 12.552vw;
}
