.customer_stories_container {
  overflow: hidden;
}
.customer_stories_container h1 {
  font-family: "Poppins";
  font-weight: 500;
  color: var(--color-primary);
  font-size: 2.5vw;
  text-align: center;
  margin-top: 5.208vw;
  margin-bottom: 0.8vw;
  transform: translateX(5%);
  opacity: 0;
}
.customer_stories_container p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 1.875vw;
  text-align: center;
  max-width: 60.208vw;
  margin: 0 auto;
  color: #898989;
}

.customer_stories_container.animate h1 {
  opacity: 1;
  transition: all 3s ease-in-out;
  transform: translateX(0);
}

.customer_stories_container.animate .sliderContainer {
  opacity: 1;
  transform: translateY(0);
}

.sliderContainer {
  width: 100%;
  max-width: 79.792vw;
  margin: auto;
  position: relative;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 3s ease-out, transform 3s ease-out;
}
.slides {
  overflow: hidden;
  height: 35.271vw;
  padding: 2rem 0rem;
  position: relative;
}

.slide {
  transition: opacity 2s ease, filter 10s ease;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.7;
  visibility: hidden;
  z-index: 0;
  border-radius: 1.302vw;
  overflow: hidden;
}

.centerSlide {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  max-width: 42.917vw;
  width: 100%;
  max-height: 25.833vw;
  border-radius: 1.302vw;
  overflow: hidden;
  filter: blur(0);
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.1);
}

.prevSlide {
  transform: translateX(-100%);
  visibility: visible;
  max-width: 29.583vw;
  max-height: 16.719vw;
  height: 100%;
  width: 100%;
  top: 50%;
  transform: translate(-120%, -50%);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.1);
}
.nextSlide {
  transform: translateX(0%);
  visibility: visible;
  max-width: 29.583vw;
  max-height: 16.719vw;
  height: 100%;
  top: 50%;
  transform: translate(20%, -50%);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.1);
}

.prevSlide img,
.nextSlide img {
  width: 100%;
}
.hiddenSlide {
  filter: blur(50px);
}

.slideImage {
  width: 100%;
  height: 100%;
}

.navigationButtons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.navigationButtons button img {
  height: 3.188vw;
}
.slides {
  position: relative;
}

.videoButtonIcon {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 9999;
  cursor: pointer;
  width: 7.4vw;
}

@media (max-width: 768px) {
  .customer_stories_container {
    margin: 0rem 1.5rem;
    margin-bottom: 3rem;
  }
  .customer_stories_container h1 {
    font-size: 1rem;
  }
  .customer_stories_container p {
    font-size: 0.6rem;
    line-height: 1rem;
    max-width: none;
  }

  .centerSlide {
    max-width: 50.917vw;
    transform: translate(-50%, -50%);
  }

  .prevSlide {
    max-width: 32.583vw;
    transform: translate(-100%, -50%);
  }
  .nextSlide {
    max-width: 32.583vw;
    transform: translate(0%, -50%);
  }
  .prevSlide,
  .nextSlide,
  .centerSlide {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .navigationButtons {
    bottom: 0px;
  }
  .navigationButtons button img {
    height: 1.2rem;
  }
  .videoButtonIcon {
    width: 2.5rem;
  }
}
