.paymentContainer {
  display: flex;
}

.paymentDetailsContainer {
  background: linear-gradient(
    180deg,
    #e2f6fc 18.16%,
    rgba(255, 255, 255, 0.95) 100%
  );
  padding-top: 4.115vw;
  padding-left: 8.542vw;
  max-width: 58.177vw;
  width: 100%;
}

.paymentDetailsContainer h2 {
  margin-bottom: 1.667vw;
  font-size: 1.25vw;
  line-height: 1.771vw;
  color: #42a7c3;
  font-weight: 600;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 34.167vw;
  width: 100%;
}

.accordionItem {
  background-color: white;
  /* border: 1px solid #E3E8EF; */
  border-radius: 0.625vw;
  margin-bottom: 2.135vw;
}

.accordionItemDescriptionWrapper hr {
  border: none;
  border-top: 1px solid #e3e8ef;
  visibility: visible;
}

.accordionItem.open .accordionItemDescriptionWrapper hr {
  visibility: visible;
}

.accordionItemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.885vw 1.25vw;
  cursor: pointer;
}
.accordionItem.open .accordionItemHeader {
  margin-bottom: 0.938vw;
  border-bottom: 0.052vw solid #e3e8ef;
}
.accordionItemHeaderTitle {
  font-size: 0.938vw;
  font-weight: 600;
}

.accordionItemHeaderIcon {
  color: #677489;
  transition: var(--transition);
}

.accordionItem.open .accordionItemHeaderIcon {
  transform: rotate(-180deg);
}

.accordionItemDescriptionWrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: var(--transition);
}

.accordionItem.open .accordionItemDescriptionWrapper {
  grid-template-rows: 1fr;
}

.accordionItemDescription {
  min-height: 0;
  padding: 0vw 1.25vw;
}

.accordionItemDescription form {
  display: flex;
  flex-direction: column;
  gap: 1.25vw;
}
.accordionItemDescription .formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.accordionItemDescription .formGroup label {
  font-size: 0.833vw;
  font-weight: 600;
  margin-bottom: 0.417vw;
}
.accordionItemDescription p {
  padding: 10px;
  line-height: 1.5;
}

.formRow {
  display: flex;
  gap: 1.25vw;
  margin-bottom: 2.344vw;
}

.payNowButton {
  background-color: #42a7c3;
  color: white;
  border-radius: 1.042vw;
  max-width: 34.167vw;
  width: 100%;
  font-size: 0.833vw;
  padding: 0.833vw 0vw;
}
.formGroup input {
  border: 1px solid #e3e8ef;
  color: #677489;
  padding: 0.573vw 0.833vw;
  font-size: 0.833vw;
  border-radius: 0.625vw;
  max-width: 31.667vw;
  width: 100%;
  display: flex;
  align-items: center;
}

.formGroup input:hover,
.formGroup input:focus {
  outline: none;
}
.paymentCardContainer {
  padding-top: 4.167vw;
  flex: 1;
}
.cartContainer {
  display: flex;
  max-width: 24.427vw;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .paymentContainer {
    flex-direction: column;
  }
  .paymentDetailsContainer {
    max-width: none;
    padding: 4rem 1.5rem;
    padding-bottom: 0;
  }
  .paymentDetailsContainer h2 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  .accordionItem.open .accordionItemHeader {
    margin-bottom: 0.6rem;
  }
  .accordionItemHeaderTitle {
    font-size: 0.7rem;
  }
  .accordionItemHeader {
    padding: 0.5rem 1rem;
  }
  .accordionItemDescription {
    padding: 0rem 1rem;
  }
  .accordionItemDescription .formGroup label {
    font-size: 0.55rem;
  }
  .formGroup {
    margin-bottom: 0.4rem;
  }
  .formGroup input {
    padding: 0.3rem 0.5rem;
    font-size: 0.55rem;
  }

  .accordion {
    max-width: none;
  }
  .formGroup input {
    line-height: 0rem;
    max-width: none;
  }
  .paymentCardContainer {
    padding: 1rem 1.5rem;
    max-width: none;
  }
  .cartContainer {
    max-width: none;
  }

  .payNowButton {
    padding: 0.5rem;
    font-size: 0.5rem;
    max-width: none;
    margin-top: 0.5rem;
  }
}
