@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.carousel_content {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 2s ease-out, opacity 2s ease-out;
}

.carousel_content.visible {
  animation: slideInFromRight 2s forwards;
  animation-delay: 0.5s;
}

.slider_container {
  padding-left: 12.96vw;
  overflow: hidden;
}
.slider_container.visible {
  animation: slideInFromRight 1s forwards;
}
.slider_heading h1 {
  font-family: "Lato";
  font-size: 1.845vw;
  color: var(--color-primary);
  font-weight: 700;
  padding-bottom: 1vw;
}
.carousel_container {
  max-width: 100%;
  width: 100%;
  padding: 0vw 1.5vw;
}

.carousel_card_container {
  position: relative;
}

.carousel_card_container h3 {
  position: absolute;
  font-size: 1.38vw;
  color: white;
  left: 1.25vw;
  bottom: 0.833vw;
}
.carousel_card_container img {
  border-radius: 1.042vw;
  max-height: 16.823vw;
  height: 100%;
  width: 100%;
}

.carousel_btn_container {
  position: absolute;
  top: -2.4vw;
  right: 7.5vw;
}

.carousel_btn_container button {
  width: 2.083vw;
  height: 2.083vw;
}
.carousel_btn_container button svg {
  width: 100%;
}





/* Media queries for mobile screens */
@media screen and (max-width: 768px) {
  .slider_section_container {
    margin: 4rem 1.5rem;
    margin-bottom: 2rem;
  }
  .slider_heading h1 {
    font-size: 1rem;
  }
  .carousel_container {
    padding: 0;
  }
  .carousel_card_container {
    margin: 0 auto;
    margin-left: 0.3rem;
    border-radius: 1rem;
  }
  .carousel_card_container img {
    object-fit: cover;
    width: 100%;
    max-height: none;
    height: 10rem;
  }

  .carousel_card_container h3 {
    left: 1rem;
    bottom: 0.5rem;
    font-size: 0.8rem;
  }

  .carousel_btn_container {
    top: -3.5vw;
    right: 1vw;
  }
  .next_btn {
    margin-right: 3rem;
  }

  .carousel_btn_container button {
    width: 4vw;
    height: 4vw;
  }
  .slider_container {
    padding-left: unset;
  }
}
